.navbar__menu-links{
    font-size: 2rem;
    text-transform: uppercase;
}

.navbar__menu-links a{
    font-family: var(--font-semi-bold);
    color: var(--color-black);  
}

.navbar__menu-links a:hover{
    color: var(--color-primary);
}


