.flex{
    display: flex;
}

.section__padding{
    padding: 2rem 3rem;
}

.flex__center{
    justify-content: center;
    align-items: center;
}

.space__between{
    justify-content: space-between;
    align-items: center;
}

.btn {
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: var(--font-regular);
}

.btn-primary{
    background-color: var(--color-primary);
}

@media screen and (min-width: 1444px){
    .section__padding{
        padding: 4rem 5rem;
    }
}